In [2]:
import requests

import pandas as pd

In [3]:
!pip install fsspec

Requirement already satisfied: fsspec in c:\users\prithu\anaconda3\lib\site-packages (2022.2.0)

In [4]:
#r = requests.get("http://ergast.com/api/f1/2011/5/laps/999) will read xml
#by default, to read jason you need add .jason
r = requests.get("http://ergast.com/api/f1/2011/5/laps/999.json")
#r.headers(for time and server and other information)
#r.json()
r.text

'{"MRData":{"xmlns":"http:\\/\\/ergast.com\\/mrd\\/1.5","series":"f1","url":"http://ergast.com/api/f1/2011/5/laps/999.json","limit":"30","offset":"0","total":"0","RaceTable":{"season":"2011","round":"5","Races":[]}}}'

In [5]:
pd.read_json(r.text)["MRData"]["RaceTable"]
#another method if this dosent work
pd.DataFrame(r.json()["MRData"]["RaceTable"]["Races"])

Empty DataFrame
Columns: []
Index: []

In [6]:
r.json()["MRData"]["RaceTable"]["Races"]#[0]["Laps"][0]["Timings"]
#use len opertor to see item in list
#len(r.json()["MRData"]["RaceTable"]["Races"])

[]

In [7]:
#for proper format to show data
pd.DataFrame(r.json()["MRData"]["RaceTable"]["Races"])

Empty DataFrame
Columns: []
Index: []

In [8]:
laps = range(1, 1000)
for lap in laps:
    lap_insert = str(lap)
    r = requests.get(f"http://ergast.com/api/f1/2011/5/laps/{lap_insert}.json")
    if len(r.json()["MRData"]["RaceTable"]["Races"]) == 0:
        break
    else:
        temp = pd.DataFrame(r.json()["MRData"]["RaceTable"]["Races"][0]["Laps"][0]["Timings"])
        temp.to_csv(f"lap_number_{lap_insert}.csv")

In [15]:
laps = [x for x in range(1,1000)]

laps = []
for x in range(1,1000):
    laps.append(x)

In [18]:
temp_lap = pd.read_csv('lap_number_1.csv')
temp_lap

    Unnamed: 0            driverId  position      time
0            0              alonso         1  1:34.494
1            1              vettel         2  1:35.274
2            2              webber         3  1:36.329
3            3            hamilton         4  1:36.991
4            4              petrov         5  1:38.084
5            5  michael_schumacher         6  1:38.633
6            6             rosberg         7  1:39.139
7            7               massa         8  1:39.979
8            8               buemi         9  1:40.611
9            9              button        10  1:40.998
10          10               perez        11  1:41.433
11          11         alguersuari        12  1:41.876
12          12           maldonado        13  1:42.255
13          13               resta        14  1:42.808
14          14              trulli        15  1:43.553
15          15          kovalainen        16  1:44.276
16          16            heidfeld        17  1:45.164
17          17               sutil        18  1:46.107
18          18              liuzzi        19  1:46.737
19          19         barrichello        20  1:47.077
20          20               glock        21  1:47.556
21          21         karthikeyan        22  1:48.183
22          22            ambrosio        23  1:48.573
23          23           kobayashi        24  1:57.590

In [25]:
#read multiple csv
import os

csvs =[ x for x in os.listdir('.') if x.endswith('.csv')]
csvs

['lap_number_1.csv',
 'lap_number_10.csv',
 'lap_number_11.csv',
 'lap_number_12.csv',
 'lap_number_13.csv',
 'lap_number_14.csv',
 'lap_number_15.csv',
 'lap_number_16.csv',
 'lap_number_17.csv',
 'lap_number_18.csv',
 'lap_number_19.csv',
 'lap_number_2.csv',
 'lap_number_20.csv',
 'lap_number_21.csv',
 'lap_number_22.csv',
 'lap_number_23.csv',
 'lap_number_24.csv',
 'lap_number_25.csv',
 'lap_number_26.csv',
 'lap_number_27.csv',
 'lap_number_28.csv',
 'lap_number_29.csv',
 'lap_number_3.csv',
 'lap_number_30.csv',
 'lap_number_31.csv',
 'lap_number_32.csv',
 'lap_number_33.csv',
 'lap_number_34.csv',
 'lap_number_35.csv',
 'lap_number_36.csv',
 'lap_number_37.csv',
 'lap_number_38.csv',
 'lap_number_39.csv',
 'lap_number_4.csv',
 'lap_number_40.csv',
 'lap_number_41.csv',
 'lap_number_42.csv',
 'lap_number_43.csv',
 'lap_number_44.csv',
 'lap_number_45.csv',
 'lap_number_46.csv',
 'lap_number_47.csv',
 'lap_number_48.csv',
 'lap_number_49.csv',
 'lap_number_5.csv',
 'lap_number_50.csv',
 'lap_number_51.csv',
 'lap_number_52.csv',
 'lap_number_53.csv',
 'lap_number_54.csv',
 'lap_number_55.csv',
 'lap_number_56.csv',
 'lap_number_57.csv',
 'lap_number_58.csv',
 'lap_number_59.csv',
 'lap_number_6.csv',
 'lap_number_60.csv',
 'lap_number_61.csv',
 'lap_number_62.csv',
 'lap_number_63.csv',
 'lap_number_64.csv',
 'lap_number_65.csv',
 'lap_number_66.csv',
 'lap_number_7.csv',
 'lap_number_8.csv',
 'lap_number_9.csv']

In [37]:
temp_df_list = []

for i in csvs:
    temp_df_list.append(pd.read_csv(i))
    

temp_df_list #to get output of above code

data_import = pd.concat(temp_df_list)
data_import

NameError: name 'df_1' is not defined

In [38]:
df_1["time"] = pd.to_datetime(df_1["time"])
df_1

NameError: name 'df_1' is not defined